
@{
    ViewData["Title"] = "Privacy";
    Layout = "~/Views/Shared/_ParallelScrollLayout.cshtml";
}

<partial name="_HeaderLayout"/>
<section class="content mb-0 mt-0">
    <img src="~/images/rectangle_1.png" />
    <div class="overplay">

    </div>
	<div class="text-1 d-inline" style="white-space:nowrap">
		Welcome To Our Restaurant 
	</div>
   

</section>

